.buttonStyleContainer {
    font-size: 22px;
}

.modalContainer {
    font-family: cursive;

    .modalTitleStyles {
        padding-left: 20px;
        font-size: 28px;
        color: rgb(0, 0, 0);
        font-weight: 500;
    }

    .modalBodyStyles {
        font-size: 20px;
        font-family: system-ui;
        color: rgb(0, 0, 0);
        padding: 20px;
    }

}

#createTaskBtn {
    text-shadow: #000 1px 0px 1px, #000 0px 1px 1px, #000 0px -1px 1px, #000 -1px 0px 1px;
    font-size: 20px;
}

.dropdownBtnContainer {
    display: flex;
    justify-content: start;
}

#dropdownListBtn {
    margin-right: 5%;
    width: 25%;
}

#dropdownStatusBtn {
    margin-right: 5%;
    width: 30%;
}

#dropdownToggle {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

#dropdownToggleSpan {
    overflow: hidden;
    text-overflow: ellipsis;
}

#dropdownNames {
    padding-right: 1%;

}

#taskValidationStyle {
    font-size: medium;
    color: #fa1d1d;
}