.cardTitle {
    display: flex;
    justify-content: space-between;

    .cardNameStyles {
        text-align: center;
        font-family: cursive;
        font-size: 25px;
        margin-left: 5%;
        text-overflow: ellipsis;
    }
}

.statusColumn {
    min-width: 20%;
}

#switchBtn {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

#statusFormStyles {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

#editCardTitle {
    justify-content: left;
}