#deleteBtn {

    margin-top: -0.5%;
    margin-right: -0.5%;
    border-start-end-radius: 11% 9%;
    border-end-end-radius: 0% 0%;
    border-start-start-radius: 0% 0%;
    border-end-start-radius: 10% 10%;
    border-width: 0px;

}